

.center{
  text-align: center;

}

.inside_resume{
  margin: 0 0 0 70px;
}

.resume_item{
  margin: 0 0 30px 50px;
}

.title_section {
  margin: 100px 0 0 0;

}

.bio_section{
  margin-top: 50px;
}

.callout{
  border-width: 2px;
  border-radius: 17px;
  border-color: #66594d;
  background-color: #db907f;
  color: #0a0a0a;
}

.button{
  border-width: 2px;
  border-radius: 17px;
  border-color: #66594d;
  background-color: #db907f;
  color: #0a0a0a;
}

.button:hover{
  background-color: #66594d;
  color: #ffffff;
}

.main_section{
  margin-top: 50px;
}

.experience{
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
  margin-bottom: 30px;
}

.time{
  font-style: italic;
}

.selected_clips{
  margin-bottom: 30px;
}

.return_home{
  margin-bottom: 30px;
}

.clips{
  margin-top: 30px;
}

.headline{
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
  margin-bottom: 30px;
  font-size: 1.25em;
}

.headline:hover{
  color: #66594d;
}

.clip_item{
  margin-bottom: 30px;
}

.recent_work{
  padding: 15px;
  background-color: #db907f;
  border-width: 2px;
  border-radius: 17px;
  border-color: #66594d;
}


body{
background-color: #f0cfaf;
}

h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
}

p{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  color: #0a0a0a;
}

li{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  color: #0a0a0a;
}

a{
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  color: #0a0a0a;
}

hr {
  background-color: ;
  border: none;
  height: 2px;
  background-color: #66594d;
}




/* Font styles. */

.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}

/* Base CSS Text Below. */


.accordion {
  margin-left: 0;
  background: blue;
  list-style-type: none; }
  .accordion[disabled] .accordion-title {
    cursor: not-allowed; }

.accordion-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-title {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  font-size: 0.75rem;
  line-height: 1;
  color: #1779ba; }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 0 0; }
  .accordion-title:hover, .accordion-title:focus {
    background-color: #e6e6e6; }
  .accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: "+"; }
  .is-active > .accordion-title::before {
    content: "–"; }

.accordion-content {
  display: none;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  background-color: #fefefe;
  color: #0a0a0a; }
  :last-child > .accordion-content:last-child {
    border-bottom: 1px solid #e6e6e6; }

.accordion-menu li {
  width: 100%; }

.accordion-menu a {
  padding: 0.7rem 1rem; }

.accordion-menu .is-accordion-submenu a {
  padding: 0.7rem 1rem; }

.accordion-menu .nested.is-accordion-submenu {
  margin-right: 0;
  margin-left: 1rem; }

.accordion-menu.align-right .nested.is-accordion-submenu {
  margin-right: 1rem;
  margin-left: 0; }

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a {
  position: relative; }
  .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: '';
    border-bottom-width: 0;
    border-color: #1779ba transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1rem; }

.accordion-menu.align-left .is-accordion-submenu-parent > a::after {
  right: 1rem;
  left: auto; }

.accordion-menu.align-right .is-accordion-submenu-parent > a::after {
  right: auto;
  left: 1rem; }

.accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

.is-accordion-submenu-parent {
  position: relative; }